In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python data audit example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [68]:
df = spark.read.format('com.databricks.spark.csv') \
            .options(header='true', inferschema='true') \
            .load("../data/bank.csv",header=True);
df.drop('day','month','poutcome').show(5)

+---+-----------+-------+---------+-------+-------+-------+----+--------+--------+--------+-----+--------+---+
|age|        job|marital|education|default|balance|housing|loan| contact|duration|campaign|pdays|previous|  y|
+---+-----------+-------+---------+-------+-------+-------+----+--------+--------+--------+-----+--------+---+
| 30| unemployed|married|  primary|     no|   1787|     no|  no|cellular|      79|       1|   -1|       0| no|
| 33|   services|married|secondary|     no|   4789|    yes| yes|cellular|     220|       1|  339|       4| no|
| 35| management| single| tertiary|     no|   1350|    yes|  no|cellular|     185|       1|  330|       1| no|
| 30| management|married| tertiary|     no|   1476|    yes| yes| unknown|     199|       4|   -1|       0| no|
| 59|blue-collar|married|secondary|     no|      0|    yes|  no| unknown|     226|       1|   -1|       0| no|
+---+-----------+-------+---------+-------+-------+-------+----+--------+--------+--------+-----+--------+---+
only showing top 5 rows

In [69]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [70]:
types = [f.dataType for f in df.schema.fields]

In [71]:
df.dtypes

[('age', 'int'),
 ('job', 'string'),
 ('marital', 'string'),
 ('education', 'string'),
 ('default', 'string'),
 ('balance', 'int'),
 ('housing', 'string'),
 ('loan', 'string'),
 ('contact', 'string'),
 ('day', 'int'),
 ('month', 'string'),
 ('duration', 'int'),
 ('campaign', 'int'),
 ('pdays', 'int'),
 ('previous', 'int'),
 ('poutcome', 'string'),
 ('y', 'string')]

In [72]:
out = spark.createDataFrame(df.dtypes).toDF('Names','Types')

In [73]:
out.show()

+---------+------+
|    Names| Types|
+---------+------+
|      age|   int|
|      job|string|
|  marital|string|
|education|string|
|  default|string|
|  balance|   int|
|  housing|string|
|     loan|string|
|  contact|string|
|      day|   int|
|    month|string|
| duration|   int|
| campaign|   int|
|    pdays|   int|
| previous|   int|
| poutcome|string|
|        y|string|
+---------+------+

In [74]:
df.select('job').describe().show()

+-------+-------+
|summary|    job|
+-------+-------+
|  count|   4521|
|   mean|   null|
| stddev|   null|
|    min| admin.|
|    max|unknown|
+-------+-------+

In [121]:
from pyspark.sql.functions import mean, min, max, col
from pyspark.sql.types import *


# get variable name and types
out = spark.createDataFrame(df.dtypes).toDF('Names','Types')

schema = StructType([
    StructField("mean", LongType(), True), 
    StructField("min", LongType(), False), 
    StructField("max", LongType(), False)])

schema_freq = StructType([
    StructField("freqItems", LongType(), True)])

df_stats = spark.createDataFrame([],schema)
df_freq = spark.createDataFrame([],schema_freq)


for i in df.columns:

    des_d = df.select([mean(i).alias('mean'), min(i).alias('min'), max(i).alias('max')])
    #des_d.printSchema()
    freq = df.stat.freqItems([i], 0.3)
    freq = freq.withColumn('freqItems',col(i+'_freqItems')).select('freqItems')
    #freq.show(1,False)
    #freq.printSchema()
    
    df_stats = df_stats.union(des_d)
    #df_freq = df_freq.union(freq)

from pyspark.sql import DataFrame
from pyspark.sql.functions import lit, array

def add_columns(self, list_of_tuples):
    
    for col in list_of_tuples:

        prev_col = col[0]

        if isinstance(prev_col, list):
            cols = [self[j] if isinstance(j, str) else j for j in prev_col]

            for new_col, func in zip(col[1], col[2]):
                self = self.withColumn(new_col, func(*cols))

        else:

            for new_col, func in zip(col[1], col[2]):
                col = self[prev_col] if isinstance(prev_col, str) else prev_col
                self = self.withColumn(new_col, func(col))
                
    return self

In [122]:
df_stats.show()

+------------------+--------+-------+
|              mean|     min|    max|
+------------------+--------+-------+
| 41.17009511170095|      19|     87|
|              null|  admin.|unknown|
|              null|divorced| single|
|              null| primary|unknown|
|              null|      no|    yes|
|1422.6578190665782|   -3313|  71188|
|              null|      no|    yes|
|              null|      no|    yes|
|              null|cellular|unknown|
|15.915284229152842|       1|     31|
|              null|     apr|    sep|
|263.96129174961294|       4|   3025|
| 2.793629727936297|       1|     50|
|39.766644547666445|      -1|    871|
|0.5425790754257908|       0|     25|
|              null| failure|unknown|
|              null|      no|    yes|
+------------------+--------+-------+

In [38]:
df.crosstab('age','default').show()

+-----------+---+---+
|age_default| no|yes|
+-----------+---+---+
|         69|  6|  0|
|         56| 72|  2|
|         42|138|  3|
|         24| 23|  1|
|         37|158|  3|
|         25| 43|  1|
|         52| 86|  0|
|         20|  3|  0|
|         46|119|  0|
|         57| 87|  4|
|         78|  3|  0|
|         29| 97|  0|
|         84|  1|  0|
|         61| 16|  0|
|         74|  3|  0|
|         60| 47|  0|
|         28|102|  1|
|         38|158|  1|
|         70|  7|  0|
|         21|  7|  0|
+-----------+---+---+
only showing top 20 rows

In [49]:
df = spark.createDataFrame([(1, 2, 3) if i % 2 == 0 else (i, 2 * i, i % 4) for i in range(100)], ["a", "b", "c"])
df.show()

+---+---+---+
|  a|  b|  c|
+---+---+---+
|  1|  2|  3|
|  1|  2|  1|
|  1|  2|  3|
|  3|  6|  3|
|  1|  2|  3|
|  5| 10|  1|
|  1|  2|  3|
|  7| 14|  3|
|  1|  2|  3|
|  9| 18|  1|
|  1|  2|  3|
| 11| 22|  3|
|  1|  2|  3|
| 13| 26|  1|
|  1|  2|  3|
| 15| 30|  3|
|  1|  2|  3|
| 17| 34|  1|
|  1|  2|  3|
| 19| 38|  3|
+---+---+---+
only showing top 20 rows

In [59]:
# Given the above DataFrame, the following code finds the
# frequent items that show up 40% of the time for each column:
freq = df.stat.freqItems(["a", "b", "c"], 0.5)
freq.show()

+-----------+-----------+-----------+
|a_freqItems|b_freqItems|c_freqItems|
+-----------+-----------+-----------+
|    [11, 1]|    [2, 22]|     [1, 3]|
+-----------+-----------+-----------+

In [57]:
df.groupBy('b').count().sort('count', ascending=False).show()

+---+-----+
|  b|count|
+---+-----+
|  2|   51|
|138|    1|
| 26|    1|
|126|    1|
|130|    1|
| 54|    1|
| 22|    1|
|198|    1|
| 50|    1|
| 94|    1|
| 98|    1|
| 58|    1|
|  6|    1|
|110|    1|
|190|    1|
|158|    1|
|178|    1|
|150|    1|
|146|    1|
|170|    1|
+---+-----+
only showing top 20 rows

In [110]:
firstDF = spark.range(3).toDF("myCol")
firstDF.show()
newRow = spark.createDataFrame([[20]])
newRow.show()
appended = firstDF.union(newRow)
appended.show()

+-----+
|myCol|
+-----+
|    0|
|    1|
|    2|
+-----+

+---+
| _1|
+---+
| 20|
+---+

+-----+
|myCol|
+-----+
|    0|
|    1|
|    2|
|   20|
+-----+